{{>layout/header}}
<h1> 게시글 전체삭제 </h1>
<h2> 모두 삭제하시겠습니까? </h2>
<div class="col-md-12">
    <div class="col-md-4">
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-danger" id="btn-deleteAll">삭제</button>

    </div>
</div>


{{>layout/footer}}